
<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content="Мій рідний край, моя земля!">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Рідний край</title>

  <link rel="stylesheet" href="./css/style.css">

  <%- partial('styles') %>

</head>

<body>
  <div class="body_bg">
      <header>
          <div id="header" class="nav-fixed">
            <div class="container">
              <ul class="nav">
                  <li onmouseover="addHover('home')" onmouseout="removeHover('home')" id="home-item" class="nav-item">
                      <div id="home" class="nav-link"><p class="nav-link-item">Головна</p></div>
                  </li>
                  <li onmouseover="addHover('letters')" onmouseout="removeHover('letters')" id="letters-item" class="nav-item">
                      <div id="letters" class="nav-link"><p class="nav-link-item">Листи</p></div>
                  </li>
                  <li onmouseover="addHover('contacts')" onmouseout="removeHover('contacts')" id="contacts-item" class="nav-item">
                      <div id="contacts" class="nav-link"><p class="nav-link-item">Контакти</p></div>
                  </li>
                  <li class="nav-item nav-item-en">
                      <div class="nav-link"><a href="/en" class="nav-link-item">en</a></div>
                  </li>
              </ul>
            </div>
          </div>
      </header>

      <div class="inner">
          <div class="container cont-inner">
              <div class="inner-text">
                  <div>
                      <p class="additional-text">листи з усіх куточків країни</p>
                      <h2 class="text-body">Мій Рідний Край</h2>
                      <h2 class="text-body">Моя Земля</h2>
                  </div>
                  <div style="display: flex;">
                      <table class="social-table">
                         <tr><td> 
                              <a target="_blank" href="https://facebook.com">
                                  <img class="social_img" width="20px" src="../images/home_images/facebook.png" alt="">
                              </a>
                          </td></tr>
                          <tr><td>
                              <a target="_blank" href="https://twitter.com">
                                  <img class="social_img" width="20px" src="../images/home_images/twitter.png" alt="">
                              </a>
                          </td></tr>
                          <tr><td>
                              <a target="_blank" href="https://instagram.com">
                                  <img class="social_img" width="25px" src="../images/home_images/instagram.png" alt="">
                              </a>
                          </td></tr>
                          <tr><td>
                              <a target="_blank" href="https://telegram.org">
                                  <img class="social_img" width="20px" src="../images/home_images/telegram.png" alt="">
                              </a>
                          </td></tr>
                      </table>
                  </div>
              </div>
              <div class="home_btn">
                  <a class="btn_href" href="/download"><p style="margin: 0; align-self: center;">напиши нам</p></a>
              </div>
          </div>
      </div>
  </div>

  <%- body %>

  <footer>
      <div class="footer_bg">
          <div class="container">
              <div class="footer_inner">
                  <div class="footer_column" style="justify-content: center;">
                      <div style="width: 300px;">
                          <div style="position: relative;">
                              <h5 class="fotter_title about">Батьківщина</h5>
                              <img class="footer_icon" src="../images/home_images/pngwing.com.png" alt="">
                          </div>
                          <p class="footer_text">Місце, де читають твої думки, здійснюються твої бажання.</p>
                      </div>
                  </div>
                  <div class="footer_column" style="justify-content: center;">
                      <div style="width: 250px;">
                          <h5 class="fotter_title">Контактна інформація</h5>
                          <p class="footer_text">пошта: <a href="mailto:batkivschina@gmail.com">batkivschina@gmail.com</a></p>
                          <p class="footer_text">телефон: +380950412547</p>
                      </div>
                  </div>
                  <div class="footer_column" style="justify-content: right;">
                      <div style="width: 250px;">
                          <h5 class="fotter_title"> Реєстрація</h5>
                          <p class="footer_text">Реєструйся, щоб завжди бути проінформованим</p>
                          <div class="home_btn">
                              <a class="btn_href" href=""><p style="margin: 0; align-self: center;">реєстрація</p></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>

  <script src="./js/script.js"></script>
  <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
</body>

</html>