
<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content="Мій рідний край, моя земля!">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>В гостях у казки</title>

  <link rel="stylesheet" href="./css/style.css">


  <%- partial('styles') %>

</head>

<body>
    <% if(auth) { %>
        <div class="body_bg authors">
    <% } else if(books) { %>
        <div class="books">
    <% } else { %>
        <div class="body_bg">
    <% } %>
      <header>
          <div id="header" class="nav-fixed">
            <div class="container">
              <ul class="nav">
                  <li onmouseover="addHover('home')" onmouseout="removeHover('home')" id="home-item" class="nav-item">
                      <div id="home" class="nav-link"><a href="/" class="nav-link-item">Головна</a></div>
                  </li>
                  <li onmouseover="addHover('authors')" onmouseout="removeHover('authors')" id="authors-item" class="nav-item">
                    <div id="authors" class="nav-link"><a href="/authors" class="nav-link-item">Автори</a></div>
                  </li>
                  <li onmouseover="addHover('contacts')" onmouseout="removeHover('contacts')" id="contacts-item" class="nav-item">
                      <div id="contacts" class="nav-link"><a class="nav-link-item">Контакти</a></div>
                  </li>
              </ul>
            </div>
          </div>
      </header>
  <%- body %>

  </div>
  
  

  <footer>
      <div class="footer_bg">
          <div class="container">
              <div class="footer_inner">
                  <div class="footer_column" style="justify-content: center;">
                      <div style="width: 300px;">
                          <div style="position: relative;">
                              <h5 class="fotter_title about">Казки</h5>
                              <img class="footer_icon" src="../images/home_images/pngwing.com.png" alt="">
                          </div>
                          <p class="footer_text">Тут тебе чекають світ пригод, велика кількість історій, життя авторів та інше</p>
                      </div>
                  </div>
                  <div class="footer_column" style="justify-content: center;">
                      <div style="width: 250px;">
                          <h5 class="fotter_title">Контактна інформація</h5>
                          <p class="footer_text">Пошта: <a href="mailto:fairytales@gmail.com">fairytales@gmail.com</a></p>
                          <p class="footer_text">Телефон: +380950002547</p>
                      </div>
                  </div>
                  <div class="footer_column" style="justify-content: right;">
                      <div style="width: 250px;">
                          <h5 class="fotter_title">Вхід </h5>
                          <p class="footer_text">Вже маєш аккаунт?</p>
                          <div class="home_btn foot">
                              <a class="btn_href" href=""><p style="margin: 0; align-self: center;">Увійти</p></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
  <script src="./js/script.js"></script>

  <link rel="shortcut icon" href="../images/home_images/pngwing.com.png" type="image/x-icon">
</body>

</html>