
<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content="Мій рідний край, моя земля!">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Рідний край</title>

  <link rel="stylesheet" href="./css/style.css">

  <%- partial('styles') %>

</head>

<body>
    <div class="body_bg">
        <header>
            <div id="header" class="nav-fixed">
                <ul class="nav">
                    <li onmouseover="addHover('home')" onmouseout="removeHover('home')" id="home-item" class="nav-item">
                        <div id="home" class="nav-link"><p class="nav-link-item">Головна</p></div>
                    </li>
                    <li onmouseover="addHover('letters')" onmouseout="removeHover('letters')" id="letters-item" class="nav-item">
                        <div id="letters" class="nav-link"><p class="nav-link-item">Листи</p></div>
                    </li>
                    <li onmouseover="addHover('contacts')" onmouseout="removeHover('contacts')" id="contacts-item" class="nav-item">
                        <div id="contacts" class="nav-link"><p class="nav-link-item">Контакти</p></div>
                    </li>
                </ul>
            </div>
        </header>
        <div class="inner">
            <div class="container cont-inner">
                <div class="inner-text">
                    <div>
                        <p class="additional-text">листи з усіх куточків країни</p>
                        <h2 class="text-body">Мій Рідний Край</h2>
                        <h2 class="text-body">Моя Земля</h2>
                    </div>
                    <div style="display: flex;">
                        <table class="social-table">
                           <tr><td> 
                                <a target="_blank" href="https://facebook.com">
                                    <img class="social_img" width="20px" src="../images/home_images/facebook.png" alt="">
                                </a>
                            </td></tr>
                            <tr><td>
                                <a target="_blank" href="https://twitter.com">
                                    <img class="social_img" width="20px" src="../images/home_images/twitter.png" alt="">
                                </a>
                            </td></tr>
                            <tr><td>
                                <a target="_blank" href="https://instagram.com">
                                    <img class="social_img" width="25px" src="../images/home_images/instagram.png" alt="">
                                </a>
                            </td></tr>
                            <tr><td>
                                <a target="_blank" href="https://telegram.org">
                                    <img class="social_img" width="20px" src="../images/home_images/telegram.png" alt="">
                                </a>
                            </td></tr>
                        </table>
                    </div>
                </div>
                <div class="home_btn">
                    <a class="btn_href" href=""><p style="margin: 0; align-self: center;">напиши нам</p></a>
                </div>
            </div>
        </div>
    </div>
    <section class="letters">
        <div class="letters_bg">
            <div class="container">
                <h2 id="letter_components" class="text-body" style="padding-top: 2rem;">Ваші листи</h2>
                <h2 class="text-body" style="padding-bottom: 2rem;">про рідний край</h2>
                <div class="letter">
                    <div class="letter_story" style="width: 450px;">
                        <p class="letter-subtitle">Незалежність Батьківщини</p>
                        <h3 class="letter-title">Мій рідний край, моя родина </h3>
                        <h3 class="letter-title">Моя співуча Україна</h3>
                        <p class="letter-text">Усі свідомі роки мого дитинства пройшли в незалежній державі.
                            Навіть не розуміючи, що таке незалежність, я чув і знав про неї.
                            Осмислення приходило поступово. <span class="read-more-text" id="read_more_text1">Я не перестаю пишатись тим, що живу в незалежній державі.
                            На вулицях блакитно-жовті прапори і тризубці, які охороняють та дбають про свободу, а тому
                            жоден ворог не в змозі їх знищити.</span>
                        </p>
                        <div onclick="readMore(1)" class="read_group">
                            <p class="letter-subtitle2 btn_more_text1" style="font-size: 12px;">читати далі</p>
                            <img id="arrow1" class="letter_arrow" src="../images/home_images/arrow_right.png" alt="">
                        </div>
                    </div>
                    <div class="leter_img">
                        <img width="250px" src="../images/home_images/letter1.jpg" alt="">
                    </div>
                </div>
                <div class="letter">
                    <div class="leter_img">
                        <img width="250px" src="../images/home_images/letter2.jpg" alt="">
                    </div>
                    <div class="letter_story" style="width: 450px;">
                        <p class="letter-subtitle">Ти - частинка своєї землі</p>
                        <h3 class="letter-title">Мої батьки і рідне слово</h3>
                        <h3 class="letter-title">Кохання перше і любов</h3>
                        <h3 class="letter-title">На цій землі святій, чудовій</h3>
                        <p class="letter-text">Рідний край — це твоя батьківщина, твій рідний дім, де жила чи живе твоя сім’я.
                            У будь-якому куточку рідного краю ти відчуваєш себе потрібним. 
                            <span class="read-more-text" id="read_more_text2"> Адже тут тебе люблять та на тебе чекають. 
                            Тут тебе розуміють і ти можеш бути самим собою. Це дуже цінно у наш час.</span>
                        </p>
                        <div onclick="readMore(2)" class="read_group">
                            <p class="letter-subtitle2 btn_more_text2" style="font-size: 12px;">читати далі</p>
                            <img id="arrow2" class="letter_arrow" src="../images/home_images/arrow_right.png" alt="">
                        </div>
                    </div>
                </div>
                 <div class="letter">
                    <div class="letter_story" style="width: 450px;">
                        <p class="letter-subtitle">З любов'ю до краю</p>
                        <h3 class="letter-title">У мирі, злагоді, любові</h3>
                        <h3 class="letter-title"> Крізь довгі роки процвітай</h3>
                        <h3 class="letter-title"> Мій рідний і чарівний край </h3>
                        <p class="letter-text">З вікон будинків, що знаходяться на околиці міста, видніється хвойний ліс. Зайдеш туди і одразу ж опинишся в густій ​​тіні дерев, що випромінюють свіжий аромат.
                            В наших лісах також багато пагорбів і ярів, оскільки місцевість тут горбиста. <span class="read-more-text" id="read_more_text3">Поруч з лісом є і болота, на берегах яких живе багато диких птахів.
                            У наших лісах є чудові озера. Вони знаходяться серед лісів, туди ми часто з батьком їздимо відпочивати та ловити рибу.
                            Для мене важливі добробут та щастя мого рідного краю. Це найдорожче місце на Землі.</span>
                        </p>
                        <div onclick="readMore(3)" class="read_group">
                            <p class="letter-subtitle2 btn_more_text3" style="font-size: 12px;">читати далі</p>
                            <img id="arrow3" class="letter_arrow" src="../images/home_images/arrow_right.png" alt="">
                        </div>
                    </div>
                    <div class="leter_img">
                        <img width="250px" src="../images/home_images/letter3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="war"></section>
    <footer>
        <div class="footer_bg">
            <div class="container">
                <div class="footer_inner">
                    <div class="footer_column" style="justify-content: center;">
                        <div style="width: 300px;">
                            <div style="position: relative;">
                                <h5 class="fotter_title about">Батьківщина</h5>
                                <img class="footer_icon" src="../images/home_images/pngwing.com.png" alt="">
                            </div>
                            <p class="footer_text">Місце, де читають твої думки, здійснюються твої бажання.</p>
                        </div>
                    </div>
                    <div class="footer_column" style="justify-content: center;">
                        <div style="width: 250px;">
                            <h5 class="fotter_title">Контактна інформація</h5>
                            <p class="footer_text">пошта: <a href="mailto:batkivschina@gmail.com">batkivschina@gmail.com</a></p>
                            <p class="footer_text">телефон: +380950412547</p>
                        </div>
                    </div>
                    <div class="footer_column" style="justify-content: right;">
                        <div style="width: 250px;">
                            <h5 class="fotter_title"> Реєстрація</h5>
                            <p class="footer_text">Реєструйся, щоб завжди бути проінформованим</p>
                            <div class="home_btn">
                                <a class="btn_href" href=""><p style="margin: 0; align-self: center;">реєстрація</p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
  <script src="./js/script.js"></script>
  <link rel="shortcut icon" href="../images/home_images/pngwing.com.png" type="image/x-icon">
</body>

</html>