
<section class="letters">
    <div><img src="../images/home_images/kazku.jpg" alt=""></div>
    <div class="home_btn">
        <a class="btn_href" href=""><p style="margin: 0; align-self: center;">приєднуйся до нас</p></a>
    </div>
</section>



