<div class="inner">
    <div class="container cont-inner">
        <div class="inner-text">
            <div>
                <p class="additional-text text-en">поринь у світ мрій</p>
                <h2 class="text-body">В ГОСТЯХ У КАЗКИ</h2>
                <h2 class="text-body"></h2>
            </div>
        </div>
        <div class="home_btn">
            <a class="btn_href" href=""><p style="margin: 0; align-self: center;">реєструйся</p></a>
        </div>
    </div>
</div>